body {
    
}

.title {
    text-align: center;
}

.title-girl {
    margin-top: -300px;
    margin-bottom: -400px;
    z-index: 2;
}

svg {
    margin-top:0;
    height: 40vh;
      width: 100vw;
      position: absolute;
      z-index: 1;
  }

  body {
    font-family: 'Noto Sans JP','NotoSansCJKjp','ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  }
 
  .container {
    position: relative;
  }

  .box {
    padding: 20px;
    text-align: center;
    background-color: #0bd;
    height: 80vh;
  }

  .main {
    margin-top:0;
  }
