
body {
  font-family: 'Noto Sans JP','NotoSansCJKjp','ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  position: relative;
  background-image: url('back-image.jpg'); /* 古い紙の画像 */
  background-size: cover; /* 全体にフィットさせる */
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
  background-position: center; /* 中央に配置 */
  color: #3e3e3e; /* 紙に合う文字色 */
  margin: 0;
  padding: 0;
}

.top {
  width: 100%;
  position: relative;
}

.sub {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: auto;
}

.title {
    text-align: center;
}

.title-girl {
    margin-top: -300px;
    margin-bottom: -400px;
    z-index: 3;
    animation: moveUpDown 2s infinite ease-in-out;
    position: relative;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

svg {
    margin-top:-100px;
    height: 150vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
  }

  .intro {
     z-index: 4;
     color: rgb( 253, 242, 208);
     position: relative;
     text-align: center;
     margin-top: 50vh;
     font-family: 'Zen Kaku Gothic New';
     font-weight: Medium;
     font-size: 20px;
  } 
 
.interview {
    margin-top: 50vh; /* waveセクションの高さ分だけマージンを追加 */
    padding: 20vw; /* 内側の余白を追加 */
    margin-left: 100px; /* 左側の外側余白を追加 */
    margin-right: 100px; /* 右側の外側余白を追加 */
    position: relative;
    z-index: 2;
}

.komidashi {
  font-size: 30px;
  color:#2731AD;
  margin-top:100px;
  font-weight: Medium;
  margin-left: -50px;
  margin-bottom: 100px;
  margin-top: 250px;
}

.content {
    font-family: 'Zen Kaku Gothic New';
    font-size: 18px;
    color:#2731AD;
    line-height: 2.5;
    margin-bottom: 50px;
    font-weight: Medium;
  
}

