body {
    
}

.title {
    text-align: center;
}

.title-girl {
    margin-top: -300px;
    margin-bottom: -400px;
    z-index: 2;
}

svg {
    margin-top:0;
    height: 40vh;
      width: 100vw;
      position: absolute;
      z-index: 1;
  }

  body {
    font-family: 'Noto Sans JP','NotoSansCJKjp','ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  }
 
  .container {
    position: relative;
  }

  .box {
    padding: 20px;
    text-align: center;
    background-color: #0bd;
    height: 80vh;
  }

  .main {
    margin-top:0;
  }
.interview {
    margin-top: 40vh; /* waveセクションの高さ分だけマージンを追加 */
    padding: 18vw; /* 内側の余白を追加 */
    margin-left: 20px; /* 左側の外側余白を追加 */
    margin-right: 20px; /* 右側の外側余白を追加 */
    position: relative;
    z-index: 2;
}

.content {
    font-family: 'Zen Kaku Gothic New';
    font-size: 16px;
    color:#0f34ff;
    line-height: 2;
    margin-bottom: 50px;
    font-weight: Medium;
}
